name: Test

on:
  workflow_call:
    inputs:
      commit-ref:
        description: Commit ref to check out and run tests against.
        default: ''
        required: false
        type: string

      enable-coverage:
        description: Collects coverage data from tests.
        default: false
        required: false
        type: boolean

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          ref: ${{ inputs.commit-ref }}
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
          stable: ${{ matrix.go-stable }}
      - name: Install Pulumi CLI
        uses: pulumi/action-install-pulumi-cli@v2
      - name: Test w/coverage
        if: ${{ inputs.enable-coverage }}
        run: make test_cover
      - name: Test
        if: ${{ ! inputs.enable-coverage }}
        run: make test
      - name: Upload code coverage
        if: ${{ inputs.enable-coverage }}
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: false
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.21.x]
        go-stable: [true]
